.root{
	-fx-background-color: #fff8dc;
	-fx-mid-text-color: black;
}

#app-title{
	-fx-font-family: "Arial Black";
	-fx-font-size: 38.0px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );  
  }
  
#send-message-box-label{
	-fx-font-family: "Arial Black";
    -fx-font-size: 16.0;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
}

#users-box-label{
	-fx-font-family: "Arial Black";
    -fx-font-size: 16.0;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
}

#convo-box-label{
	-fx-font-family: "Arial Black";
    -fx-font-size: 16.0;
    -fx-text-fill: rgb(0.0,0.0,0.0);
    -fx-display-caret:true;
}